
.header-container {
  position: fixed;
  top: 0;
  background-color: $secondary-color;
  color: $black-coolor;
  width: 100%;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    &::before,
    &::after {
      content: "";
      width: 28%;
      height: 2px;
      background-color: $black-coolor;
      display: block;
      position: absolute;
    }
    &::before {
      top: 50%;
      left: 0;
    }
    &::after {
      top: 50%;
      right: 0;
    }

    li {
      color: $black-coolor;
      margin: 20px 0;
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }

      &.active {
        outline: 3px solid $accent-color;
      }
    }
  }
}
