header{
  position: sticky;
  top: 0; 
  color: #ffffff;

}
.header-container {

  right: 0;
  background: $primary-color;
  color: #ffffff;
  width: 100%;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    &::before,
    &::after {
      content: "";
      width: 28%;
      height: 2px;
      background-color: #ffffff; 
      display: block;
      position: absolute;
    }
    &::before {
      top: 50%;
      left: 0;
    }
    &::after {
      top: 50%;
      right: 0;
    }

    li {
      color: #ffffff;
      margin: 20px 0;
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }

      &.active {
        outline: 3px solid $accent-color;
      }
    }
  }
}
 