@import 'variable.scss';

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.landing-subContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  @media screen and (max-width: $desktop-medium) {
    flex-direction: column-reverse;
  }
}
.left-container {
  width: 60%;
  color: $secondary-color;
  @media screen and (max-width: $desktop-medium) {
    flex-direction: column-reverse;
    width: unset;
  }
  .subName {
    img {
      margin: 0 15px 0 5px;
      vertical-align: middle;
    }
  }

  .name {
    margin-bottom: 12px;
  }
  .desc {
    margin-bottom: 40px;
  }
  .landing-icon-container {
    ul {
      display: flex;
      margin-top: 30px;
      justify-content: flex-start;
      align-items: center;
      height: fit-content;
      li {
        margin-right: 65px;
      }
      img {
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  .button-secondary {
   
  }
}
.right-container {
  .circle {
    background-color: $secondary-color;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    transition: 0.2s ease-in-out;

    &:hover {
      box-shadow: 0px 0 30px $secondary-color;
    }
  }
}

