$primary-color: radial-gradient(circle, #374756 0%, #1F2830 70%);;
$secondary-color: #ffffff;
$accent-color: #f4b41a;
$black-coolor: #000000;

//Device sizes
$mobile-screen: 414px;
$desktop-small: 801px;
$desktop-medium: 1024px;
$desktop-large: 1440px;
$desktop-xlarge: 1600px;
